Repository fderuiter/proompts: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-prompts, check-prompts

validate-prompts:
  name: Validate Prompts
  description: Runs YAML linting and schema validation.
  entry: bash scripts/validate_prompts.sh
  language: system
  pass_filenames: false

check-prompts:
  name: Check Prompts
  description: Verifies repository structure and naming conventions.
  entry: python3 scripts/check_prompts.py
  language: system
  pass_filenames: false

feat(prompt): calibrate TL;DR Summarizer to Executive Briefing Architect
  docs/communication.md
  docs/index.md
  docs/table-of-contents.md
  prompts/communication/tldr_summarizer.prompt.yaml
Due: validate-prompts, check-prompts

Run docs maintenance
  prompts/communication/overview.md
Due: none

🛡️ Aegis: [Security Fix] Harden CI/CD prompt
  prompts/technical/software_engineering/tasks/ci_cd.prompt.yaml
Due: validate-prompts, check-prompts

⚡ Optimize regex compilation in validate_prompt_schema.py
  tools/scripts/validate_prompt_schema.py
Due: none

🧪 Metric: [Test Coverage] Add unit tests for FileParser.derive_category
  tools/scripts/test_generate_docs.py
Due: none

🧹 cleanup: remove internal monologue comments in generate_docs.py
  tools/scripts/generate_docs.py
Due: none

feat: Upgrade Architecture Flow Prompt to v0.2.0
  docs/index.md
  docs/software_engineering.md
  docs/table-of-contents.md
  prompts/technical/software_engineering/tasks/architecture_flow.prompt.yaml
Due: validate-prompts, check-prompts

Run docs maintenance
  prompts/technical/software_engineering/tasks/overview.md
Due: none

Calibrate 'neutral_scrum_retro' to 'Senior Agile Transformation Coach'
  docs/index.md
  docs/management.md
  docs/table-of-contents.md
  prompts/management/project_management/neutral_scrum_retro.prompt.yaml
Due: validate-prompts, check-prompts

Run docs maintenance
  prompts/management/project_management/overview.md
Due: none

💡 Beacon: Add JSON Schema generation for prompts
  docs/schemas/README.md
  docs/schemas/prompt.schema.json
  tools/scripts/README.md
  tools/scripts/validate_prompt_schema.py
Due: none

🛡️ Aegis: Fix Stored XSS in Documentation Generation
  tools/scripts/generate_docs.py
  workflows/test/xss_test.workflow.yaml
Due: validate-prompts

docs: auto-generate documentation from prompts
  docs/architecture.md
  docs/business.md
  docs/clinical.md
  docs/communication.md
  docs/management.md
  docs/meta.md
  docs/regulatory.md
  docs/scientific.md
  docs/software_engineering.md
  docs/technical.md
  docs/test.md
  docs/testing.md
  docs/workflows.md
  docs/workflows/meta_prompt_chain.md
  docs/workflows/stochastic_model_chain.md
  docs/workflows/technical_writer.md
  docs/workflows/xss_test.md
Due: none

🧪 Metric: [Test Coverage] Clinical Safety / sae_safety_reporting
  prompts/clinical/safety/sae_safety_reporting.prompt.yaml
Due: validate-prompts, check-prompts

Harden refactoring prompt with Aegis security standards
  prompts/technical/software_engineering/tasks/refactoring_suggestions.prompt.yaml
Due: validate-prompts, check-prompts

🧱 Mason: Hardened Rapid Proposal Builder
  prompts/business/development/rapid_proposal_builder.prompt.yaml
Due: validate-prompts, check-prompts

feat: calibrate Operational Excellence prompt with VP persona and strict governance constraints
  prompts/management/leadership/operational_excellence_communication.prompt.yaml
Due: validate-prompts, check-prompts

💡 Beacon: Add Directory Map to README
  .jules/beacon.md
  README.md
Due: none

Add Principal Architect Task Execution Prompt
  docs/index.md
  docs/software_engineering.md
  docs/table-of-contents.md
  prompts/technical/software_engineering/tasks/principal_architect.prompt.yaml
Due: validate-prompts, check-prompts

Run docs maintenance
  prompts/technical/software_engineering/tasks/overview.md
  prompts/technical/software_engineering/tasks/paw/overview.md
Due: none

feat(tools): update enrich_prompts.py to handle incomplete metadata
  prompts/management/leadership/operational_excellence_communication.prompt.yaml
  tools/scripts/enrich_prompts.py
Due: validate-prompts, check-prompts

Path conditions:
  validate-prompts: any of: \.(prompt\.yaml|prompt\.yml|workflow\.yaml)$
  check-prompts: any of: \.(prompt\.yaml|prompt\.yml|overview\.md)$
